<h4><b>Applied Data Science Capstone_Week 3</b></h4><br>
<h5> This notebook has Part 1 and Part 2 <br> Kindly scroll down for <b>Part 2</b></h5>
<h1> ** Part 1 ** </h1>

In [2]:
import pandas as pd
import numpy as np

from bs4 import BeautifulSoup

In [3]:
from urllib.request import urlopen
import html5lib

In [4]:
!conda install lxml --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    wheel-0.33.6               |           py36_0          40 KB
    certifi-2019.9.11          |           py36_0         154 KB
    setuptools-41.2.0          |           py36_0         633 KB
    lxml-4.3.0                 |   py36hefd8a0e_0         1.5 MB
    pip-19.2.3                 |           py36_0         1.9 MB
    ------------------------------------------------------------
                                           Total:         4.2 MB

The following NEW packages will be INSTALLED:

    certifi:    2019.9.11-py36_0
    lxml:       4.3.0-py36hefd8a0e_0
    openssl:    1.1.1d-h7b6447c_2

The following packages will be UPDATED:

    pip:        19.1.1-py36_0        conda-forge --> 19.2.3-py36_0
    setuptools: 41.2.0-py36_0        conda-forge --> 41.2.0-py36_0
    wheel:      0.33.6-py36_0        conda-forge --> 0.33.6-py36_0


Downloading and Extracting Packages
wheel-0.33.6         | 40 KB     | ##################################### | 100%
certifi-2019.9.11    | 154 KB    | ##################################### | 100%
setuptools-41.2.0    | 633 KB    | ##################################### | 100%
lxml-4.3.0           | 1.5 MB    | ##################################### | 100%
pip-19.2.3           | 1.9 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [5]:
link= "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [6]:
from IPython.display import display_html
display_html(link, raw=True)

In [8]:
dfs = pd.read_html(link)
dfs

[    Postcode           Borough          Neighbourhood
 0        M1A      Not assigned           Not assigned
 1        M2A      Not assigned           Not assigned
 2        M3A        North York              Parkwoods
 3        M4A        North York       Victoria Village
 4        M5A  Downtown Toronto           Harbourfront
 ..       ...               ...                    ...
 283      M8Z         Etobicoke              Mimico NW
 284      M8Z         Etobicoke     The Queensway West
 285      M8Z         Etobicoke  Royal York South West
 286      M8Z         Etobicoke         South of Bloor
 287      M9Z      Not assigned           Not assigned

 [288 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [9]:
df=dfs[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [10]:
empty = 'Not assigned'
df = df[(df.Postcode != empty ) & (df.Borough != empty) & (df.Neighbourhood != empty)]

In [11]:
df.reset_index()

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M5A  Downtown Toronto               Regent Park
4        6      M6A        North York          Lawrence Heights
..     ...      ...               ...                       ...
205    282      M8Z         Etobicoke  Kingsway Park South West
206    283      M8Z         Etobicoke                 Mimico NW
207    284      M8Z         Etobicoke        The Queensway West
208    285      M8Z         Etobicoke     Royal York South West
209    286      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

In [12]:
def Neighbourhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighbourhood'].tolist()))
                    
grp = df.groupby(['Postcode', 'Borough'])
df = grp.apply(Neighbourhood_list).reset_index(name='Neighbourhood')

<hr>
 --- Final output ---

In [13]:
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
97       M9N         York                                             Weston
98       M9P    Etobicoke                                          Westmount
99       M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
100      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
101      M9W    Etobicoke                                          Northwest

[102 rows x 3 columns]

<hr>
<h1> ** Part 2 ** </h1>

--- Getting coordinates for each neighbourhood ---

In [17]:
!conda install -c anaconda xlrd --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.9.11          |           py36_0         154 KB  anaconda
    xlrd-1.2.0                 |           py36_0         188 KB  anaconda
    ------------------------------------------------------------
                                           Total:         342 KB

The following packages will be UPDATED:

    certifi: 2019.9.11-py36_0  --> 2019.9.11-py36_0 anaconda
    openssl: 1.1.1d-h7b6447c_2 --> 1.1.1-h7b6447c_0 anaconda
    xlrd:    1.1.0-py37_1      --> 1.2.0-py36_0     anaconda


Downloading and Extracting Packages
certifi-2019.9.11    | 154 KB    | ##################################### | 100%
xlrd-1.2.0           | 188 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [21]:
coord = pd.read_csv("http://cocl.us/Geospatial_data")

In [22]:
coord

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [23]:
df['Latitude'] = coord['Latitude']
df['Longitude'] = coord['Longitude']
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
97,M9N,York,Weston,43.724766,-79.532242
98,M9P,Etobicoke,Westmount,43.706876,-79.518188
99,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.696319,-79.532242
100,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.688905,-79.554724
101,M9W,Etobicoke,Northwest,43.739416,-79.588437

<hr>
--- Saving Data to CSV ---

In [24]:
df.to_csv('Part2.csv', index=False)

<hr>
<b>Part 3</b> is saved separately. <br>
Kindly access the same using the link shared in the submission.  
<br><br>
Thank you.